body::before {
    content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background-tropical.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1px);
    z-index: -1;
}

.header-logo {
    margin: 0;

}
header {
    background-color: rgba(240, 248, 255, 0.689);
}
nav {
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: rgb(1 , 94, 6);
}

.header-text {
    align-items:center;
    justify-content: center;
    color: rgb(1, 94, 6);
}
