* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana, sans-serif;
}

.Nav-Links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.Nav-Links a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}

.Container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #cc00ff);
    padding: 10px;
}

.ToDoApp {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.ToDoApp h2 {
    color: #5d0174;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ToDoApp h2 img {
    width: 30px;
    margin-left: 10px;
}

.InputField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.SortBtn {
    border: none;
    outline: none;
    padding: 6px 15px;
    background: #5d0174;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 40px;
}

#Add-Task {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #5d0174;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul.Task-List li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul.Task-List li::before {
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(../img/checked.png);
}

ul.Task-List li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%; 
}

ul.Task-List li span:hover {
    background: #edeef0; 
}